{% extends "base.html" %}

{% block title_head %}
<title>About</title>
{% endblock title_head %}

{% block h1_header %}
About
{% endblock h1_header %}

{% block p1_header %}
<p class="text-white-75 mb-5"> 
    Aquí encontrarás camisetas de los principales equipos europeos, en sus diferentes versiones (fan, jugador, etc) 
    y de diferentes años.
</p>
<a class="btn btn-primary btn-xl" href="{% url "inicio" %}">Inicio</a>

{% endblock p1_header %}


{% block main %}

{% endblock main %}

{% block portfolio %}{% endblock portfolio %}
{% block call_to_action %}{% endblock call_to_action %}
{% block about %}{% endblock about %}
{% block services %}{% endblock services %}
{% block Crear_Camiseta %}{% endblock Crear_Camiseta %}
{% block Crear_Medias %}{% endblock Crear_Medias %}




