{% extends "base.html" %}

{% block title_head %}
<title>Creacion de Camiseta</title>
{% endblock title_head %}

{% block h1_header %}
Creacion de Camiseta
{% endblock h1_header %}

{% block portfolio %}{% endblock portfolio %}
{% block call_to_action %}{% endblock call_to_action %}
{% block about %}{% endblock about %}
{% block services %}{% endblock services %}


{% block main %}

<form action="" method="post">
    {% csrf_token %}
    <table>{{form}}</table>
    <input type="submit" value="Crear">
</form>

{% endblock main %}




