{% extends "base.html" %}

{% block title_head %}
<title>Creacion de Medias</title>
{% endblock title_head %}

{% block h1_header %}
Creacion de Medias
{% endblock h1_header %}


{% block main %}
<h3>Ingresar Nueva Medias</h3>

<form action="" method="post">
    {% csrf_token %}
    <table>{{formulario.media}}</table>
    <table>{{formulario}}</table>
    <p></p>
    <input type="submit" value="Crear Medias">
</form>

{% endblock main %}

{% block portfolio %}{% endblock portfolio %}
{% block call_to_action %}{% endblock call_to_action %}
{% block about %}{% endblock about %}
{% block services %}{% endblock services %}
{% block Crear_Camiseta %}{% endblock Crear_Camiseta %}
{% block Crear_Medias %}{% endblock Crear_Medias %}

