{% extends "base.html" %}

{% block title_head %}
<title>Detalles de medias</title>
{% endblock title_head %}

{% block h1_header %}
Detalles de medias 
{% endblock h1_header %}



{% block main %}
<ul>
    <li>Marca: {{medias.marca}} </li>
    <li>Equipo: {{medias.equipo}} </li>
    <li>Descripcion: {{medias.descripcion | safe}} </li>
    <li>Año: {{medias.anio}} </li>

</ul>

<h3><a href=" {% url "medias" %} ">Volver al menu </a></h3>


{% endblock main %}



{% block portfolio %}{% endblock portfolio %}
{% block call_to_action %}{% endblock call_to_action %}
{% block about %}{% endblock about %}
{% block services %}{% endblock services %}
{% block Crear_Camiseta %}{% endblock Crear_Camiseta %}
{% block Crear_Medias %}{% endblock Crear_Medias %}




