{% extends "base.html" %}

{% block title_head %}
<title>Eliminiar Camiseta</title>
{% endblock title_head %}

{% block h1_header %}
Eliminar Producto (Camiseta)
{% endblock h1_header %}



{% block main %}

<form action="" method="POST">
    {% csrf_token %}
    Desesa eliminar este Producto ? - {{camiseta.marca}} - {{camiseta.equipo}}
    <input type="submit" value="Confirmar">
</form>

{% endblock main %}


{% block portfolio %}{% endblock portfolio %}
{% block call_to_action %}{% endblock call_to_action %}
{% block about %}{% endblock about %}
{% block services %}{% endblock services %}
{% block Crear_Camiseta %}{% endblock Crear_Camiseta %}
{% block Crear_Medias %}{% endblock Crear_Medias %}

