{% extends "base.html" %}

{% block title_head %}
<title>Medias</title>
{% endblock title_head %}

{% block h1_header %}
Stock de Medias!
{% endblock h1_header %}

{% block main %}
<h1></h1>
<p></p>
<form action="">
    {{formulario}}
    <input type="submit" value="Buscar Medias">
</form>
<p></p>
<h1></h1>


{% if listado_de_medias %}
<h5>Stock Actual</h5>

<ul>
    {% for medias in listado_de_medias %}
    <li>{{medias}}</li> 
    {% endfor %}
</ul>
{% else %}
<p> - No hay Stock - </p>
{% endif %}

{% endblock main %}


{% block call_to_action %}{% endblock call_to_action %}
{% block about %}{% endblock about %}
{% block services %}{% endblock services %}