{% extends "base.html" %}

{% block title_head %}
<title>Medias</title>
{% endblock title_head %}

{% block h1_header %}
Stock de Medias!
{% endblock h1_header %}

{% block main %}

<h1></h1>
<p></p>
<form action="">
    {{formulario}}
    <input type="submit" value="Buscar Medias">
</form>
<p></p>
<h1></h1>



{% if listado_de_medias %}
<h5>Stock Actual - Medias</h5>
<ul>
    {% for medias in listado_de_medias %}
    <li>        
        <a href=" {% url "detalle_medias" medias.id  %} ">Detalle medias</a> | <a href=" {% url "actualizar_medias" medias.id %} ">Actualizar</a>  |

    </li>
    {% endfor %}
</ul>
{% else %}
<p></p>
<p> - No hay Stock / No se he encuentra el Producto</p>

{% endif %}



{% endblock main %}


{% block portfolio %}{% endblock portfolio %}
{% block call_to_action %}{% endblock call_to_action %}
{% block about %}{% endblock about %}
{% block services %}{% endblock services %}
{% block Crear_Camiseta %}{% endblock Crear_Camiseta %}
{% block Crear_Medias %}{% endblock Crear_Medias %}