{% extends "base.html" %}

{% block title_head %}
<title>Medias</title>
{% endblock title_head %}

{% block h1_header %}
Stock de Medias!
{% endblock h1_header %}

{% block main %}

<form action="">
    {% comment %} <input type="text" name="marca" placeholder="Buscar de producto" > {% endcomment %}
    {{formulario}}
    <input type="submit" value="Buscar">
</form>

{% if listado_de_medias %}
<ul>
    {% for medias in listado_de_medias %}
    <li>{{medias}}</li>
    {% endfor %}
</ul>
{% else %}
<p> - No hay Stock - </p>
{% endif %}

{% endblock main %}


{% block call_to_action %}{% endblock call_to_action %}
{% block about %}{% endblock about %}
{% block services %}{% endblock services %}