{% extends "base.html" %}

{% block title_head %}
<title>Pantalones</title>
{% endblock title_head %}

{% block h1_header %}
Stock de Pantalones!
{% endblock h1_header %}

{% block main %}
<h1></h1>
<p></p>
<form action="">
    {{formulario}}
    <input type="submit" value="Busqueda por Marca">
</form>
<p></p>
<h1></h1>

{% if listado_de_pantalones %}
<h5>Stock Actual - Pantalones</h5>

<ul>
    {% for pantalon in listado_de_pantalones %}
    <li>{{pantalon}}</li>
    {% endfor %}
</ul>
{% else %}
<p> - No hay Stock - </p>
{% endif %}

{% endblock main %}


{% block call_to_action %}{% endblock call_to_action %}
{% block about %}{% endblock about %}
{% block services %}{% endblock services %}